@import "bootstrap-sprockets";
@import "bootstrap";

body,
html {
  height: 100%;
  margin: 0;
}

.img {
  &-top {
    background: image-url("img1.jpeg");
    min-height: 100%;
  }

  &-mid {
    background: image-url("img2.jpg");
    min-height: 400px;
  }

  &-bot {
    background: image-url("img3.jpeg");
    min-height: 400px;
  }

  &-bot,
  &-mid,
  &-top {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.subtitle {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #222;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.employment{
  opacity: 0.7;
}
.employment:hover{
  opacity: 1.0;
  transition: 1s ease-out;
  cursor:pointer;
}

.main {
  h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  text-align: center;
  padding: 25px 125px;
  //opacity: 0.7;

  &-dark {
    background-color: #666;
    color: #f4f4f4;
    a{color: #f4f4f4;}
  }

  &-light {
    background-color: #f4f4f4;
    color: #666;
    a{color: #666;}
  }
}

.subtext {
  //width:75%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  &-left{
    -moz-text-align-last: left;
    text-align-last: left;
  }
  &-right{
    -moz-text-align-last: right;
    text-align-last: right;
  }

}

.workimage{
  height:inherit;
}

.employment{
  margin-top:50px;
  margin-bottom: 50px;
}
.company h2{margin-bottom: 0;}
.company h4{margin-top: 0;}

.workhistory {
  border-width: 10px;
  border-style: solid;
  border-radius: 30px;
  margin-top: 20px;
}

#name {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#name:hover {
  color: #fff;
  text-decoration: none;
}

.education h2{line-height: 0;}
.education h4{line-height: 10px;}

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.navbar {
  &-static {
    &-bottom {
      @extend .navbar-fixed-bottom;
      position: relative;
      border-width: 1px 1px 0;
    }
  }

  &-center {
    ul {
      list-style: none;
      position: relative;
      float: left;
      display: block;
      left: 50%;

      li {
        position: relative;
        float: left;
        display: block;
        right: 50%;
      }
    }
  }
}
@media(max-width:768px) {
  //.menu-top{display:none;}
}
