@import "bootstrap-sprockets";
@import "bootstrap";
body, html{
  height:100%;
  margin: 0;
}

.img{
  &-top{
    background: image-url("img1.jpeg");
    min-height:100%;

  }
  &-mid{
    background: image-url("img2.jpg");
    min-height:400px;
  }
  &-bot{
    background: image-url("img3.jpeg");
    min-height:400px;
  }
  &-top, &-mid, &-bot{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
}

.subtitle{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#222;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.main{
  h2{
    margin-top: 0px;
    margin-bottom: 25px;
  }

  text-align:center;
  padding:25px 125px;
  opacity: .7;
  &-dark{
    background-color: #666;
    color: #f4f4f4;
  }
  &-light{
    background-color: #f4f4f4;
    color: #666;
  }
}

.subtext{
  //width:75%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  -moz-text-align-last: center;
    text-align-last: center;
}

.workhistory{
  border-width: 10px;
  border-style: solid;
  border-radius: 30px;
  margin-top: 20px;
}

#name {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#name:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.navbar{
  &-static{
    &-bottom {
    @extend .navbar-fixed-bottom;
    position: relative;
    border-width: 1px 1px 0;
    }
  }
  &-center{
    ul {
      list-style: none;
      position: relative;
      float: left;
      display: block;
      left: 50%;
      li {
        position: relative;
        float: left;
        display: block;
        right: 50%;
      }
    }
  }
}
