<footer class="footer">
  <small>
  </small>
  <nav class="navbar navbar-static-bottom navbar-inverse navbar-center">
    <ul class="nav navbar-nav">
      <li><%= link_to "Education", education_path %></li>
      <li><%= link_to "Work History", bio_path %></li>
	    <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/zpearson36/">Github</a></li>
    </ul>
  </nav>
</footer>
